*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body::-webkit-scrollbar {
    background-color: #3a3a3a;
}
body::-webkit-scrollbar-thumb {
    background-color: #4B4B4B;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 3px;
}

/* font families  */
@font-face {
    font-family: "title";
    src: url("./texts/hansief-webfont.woff") format("woff"),
         url("./texts/hansief-webfont.woff2") format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "text";
    src: url("./texts/BwModelica-Medium.woff") format("woff"),
         url("./texts/BwModelica-Medium.woff2") format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "footer";
    src: url("./texts/BwModelica-Medium.woff") format("woff"),
         url("./texts/BwModelica-Medium.woff2") format("woff2");
    font-weight: 300;
}

h1{
    font-family: 'title', fantasy;
    font-size: min(4rem, 18vw);
    color: white;
    text-align: center;

    margin: 3rem;
    padding: 2.4rem;
}

h2 {
    padding: 2rem;
    float: left;
    font-size: 1.4rem;
    font-family: "text", sans-serif;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
    font-weight: 700;
}

header {
    background-color: rgb(120, 7, 7);

    box-shadow: 0 0 2rem .2rem rgba(0, 0, 0, 0.8);
}

/* Imagem de fundo e blur */
.glass {
    width: 100%; height: 100vh;

    background: rgb(120, 7, 7) url(./roses/roses_lite.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    -webkit-background-size: cover; /* Por que não, né? */

    background-attachment: fixed; background-size: cover;
    filter: blur(0.3rem);
}

/* mobile friendly background */
@media only screen and (max-width: 600px) {
    .glass {
        background-attachment: local; background-size: cover;
    }
}

#titleContainer {
    width: 100%; height: 100%;
    position: absolute; top: 0;

    background-color: rgba(120, 7, 7, .27);

    display: flex; align-items: center; justify-content: center;
    flex-direction: column;
}

body {
    background-image: linear-gradient(to bottom right, rgb(200, 200, 215), rgb(213, 213, 230));
}

#developers {
    width: min(80vw, 50rem); margin: auto;
    margin-top: 6rem; margin-bottom: 6rem;
    min-height: 100vh;

    border-radius: 2.5rem;

    background-color: rgba(250, 250, 250, .1);
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
    #developers {
        width: 100%; margin: 0;
        margin-top: 4rem; margin-bottom: 4rem;
    }
}

.dev {
    padding: 0.2rem; padding-bottom: .6rem;
    padding-right: min(6rem, 15vw);
    margin: 10rem 0 1rem 20rem; margin-left: .4rem;
    box-shadow: 0 .4rem 0 0 rgb(120, 7, 7);
    float: right;
    
    display: flex; flex-direction: row;
    background: rgb(185, 16, 16); border-radius: 1rem 0 0 1rem;
}

@media only screen and (max-width: 1000px) {
    .dev {
        padding-right: 0.4rem;
        padding: 0.2rem;

        margin-top: 4rem;
    }
}

h3 {
    padding: 1rem; padding-left: 1.6rem;
    margin-bottom: -0.2rem;

    color: white; font-style: normal;
}

.avatar{
    width: 8rem;
    height: 8rem;
    margin-top: -5.6rem;
}

.avatar#searchingForOthers {
    width: 6.5rem;
    height: 6.5rem;
    margin-top: -4.6rem;
}

/*contacts*/
.contacts {
    float: right; 
    margin: 0 2rem 0 2rem; margin-top: 0;
    display: flex; align-items: center; justify-content: flex-end;
    flex-direction: row;
    width: 80%;
    
    margin-left: auto;
}
@media only screen and (max-width: 900px) {
    .contacts {
        margin: 0 1rem 1.4rem 1rem;
    }
    .contacts a {
        margin: 1.3rem;
    }
}

.contacts a {
    overflow: hidden;
    background-color: rgb(60, 60, 150);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);

    margin: .8rem;
    border: none;
    border-radius: 100%;

    display: flex; align-items: center; justify-content: center;

    transition: border-radius .3s, background-color .8s;
}
.contacts a:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
    background-color: rgb(20, 20, 100);

    border-radius: .4rem;
}

.contacts a img {
    width: 2.7rem; height: 2.7rem;
}

/* projects =============== */
#projects h2{
    float: none;

    margin: auto; margin-left: 4rem;
}

#project-container {
    width: 80vw;
    margin: auto;
}

#project-container ul {
    display: flex; flex-direction: row; flex-wrap: wrap;
}

#project-container li {
    width: 10rem; height: 14rem;
    align-items: flex-start; justify-content: flex-end;

    display: flex; flex-direction: column;
    background-color: rgb(185, 16, 16);
    box-shadow: 0 .4rem 0 0 rgb(120, 7, 7);
    border-radius: 1rem;
    
    margin-right: 2rem; margin-bottom: 4rem;
}
@media only screen and (max-width: 1000px) {
    #project-container li {
        width: 90vw;
        margin: auto; margin-bottom: 1.2rem;
    }
}

#project-container li *,
#project-container li{
    color: white;

    margin: .5rem; padding: .5rem;
}

@media only screen and (max-width: 600px) {
    #project-container li * {
        margin: .2rem;
    }
    #project-container li {
        height: 10rem;
    }
}

/* Footer =============== */
footer p {
    bottom: 0px;
    padding: 2rem;
    font-family: "footer", sans-serif; font-size: 1.4rem;

    width: 70%; text-align: center;
    margin: auto;
}

@media (max-width: 1000px) {
    footer p {
        bottom: 0px;
        padding: 1.2rem;
        font-family: "footer", sans-serif; font-size: 1.5rem;
        margin: auto;
        width: 90%; text-align: center;
    }
}

.space{
    margin-bottom: 6rem;
}