*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    font-family: 'Coda Caption', sans-serif;
    font-size: min(3rem, 12vw);
    color: white;
    text-align: center;

    margin: 3rem;
    padding: 2.4rem;
}

h2 {
    padding: 2rem;
    float: left;
    font-size: 2rem;
}

h2, h3 {
    font-family: "Yanone Kaffeesatz";
}

header {
    background-color: rgb(120, 7, 7);

    box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, 1);
}

/* Imagem de fundo e blur */
.glass {
    width: 100%; height: 100vh;

    background: rgb(120, 7, 7) url(./roses/roses_mobile.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    -webkit-background-size: cover; /* Por que não, né? */

    background-attachment: fixed; background-size: cover;
    filter: blur(0.3rem);
}

/* lightweight */
@media only screen and (min-device-width: 1000px) { /*todo dispositivo com 1k+, vai usar a imagem de 1k*/
    .glass {
        background: rgb(120, 7, 7) url(./roses/roses_1k.jpg) no-repeat center;
        background-attachment: fixed; background-size: cover;
    }}
@media only screen and (min-device-width: 1300px) { /*todo dispositivo com 1,3k, incluindo quadhd, vai usar a img de 2k*/
    .glass {
        background: rgb(120, 7, 7) url(./roses/roses_2k.jpg) no-repeat center;
        background-attachment: fixed; background-size: cover;
    }}
@media only screen and (min-device-width: 2100px) { /*dispositivos com mais de 2k vai usar a img de 3k*/
    .glass {
        background: rgb(120, 7, 7) url(./roses/roses_4k.jpg) no-repeat center;
        background-attachment: fixed; background-size: cover;
    }}


/* mobile friendly background */
@media only screen and (max-width: 600px) {
    .glass {
        background-attachment: local; background-size: cover;
    }
}

/* Título do container centralizado */
#titleContainer {
    width: 100%; height: 100%;
    position: absolute; top: 0;

    background-color: rgba(120, 7, 7, .2);

    display: flex; align-items: center; justify-content: center;
}

main {
    min-height: 100vh;
}

.developers {
    float: right;
}

.dev {
    padding: 0.4rem;
    padding-right: min(6rem, 15vw);
    margin: 12rem 0; margin-left: .4rem;
    box-shadow: 0 .4rem 0 0 rgb(120, 7, 7);
    
    display: flex; flex-direction: row;
    background: rgb(185, 16, 16); border-radius: 3rem 0 0 3rem;
}

@media only screen and (max-width: 600px) {
    .dev {
        padding-right: 0.4rem;
        padding: 0.2rem;
    }
}

h3 {
    padding: 1rem; padding-left: 1.6rem;
    margin-bottom: -0.2rem;

    color: white; font-style: normal;
    font-family: "Yanone Kaffeesatz"; font-size: 1.8rem;
}

.avatar{
    width: 8rem;
    height: 8rem;
    margin-top: -5.2rem;
}

footer p {
    bottom: 0px;
    padding: 2rem;
    font-family: "Yanone Kaffeesatz"; font-size: 2rem;
    margin:auto;
    width: 70%; text-align: center;
}

.space{
    margin-bottom: 6rem;
}