*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    font-family: 'Coda Caption', sans-serif;
    font-size: min(3rem, 12vw);
    color: white;
    text-align: center;

    margin: 3rem;
    padding: 2.4rem;
}

h2 {
    padding: 2rem;
    float: left;
    font-size: 2rem;
}

h2, h3 {
    font-family: "Yanone Kaffeesatz";
}

header {
    background-color: rgb(120, 7, 7);

    box-shadow: 0 0 2rem .2rem rgba(0, 0, 0, 0.8);
}

/* Imagem de fundo e blur */
.glass {
    width: 100%; height: 100vh;

    background: rgb(120, 7, 7) url(./roses/roses_light.webp) no-repeat center;
    background-size: cover;
    overflow: hidden;
    -webkit-background-size: cover; /* Por que não, né? */

    background-attachment: fixed; background-size: cover;
    filter: blur(0.3rem);
}

/* mobile friendly background */
@media only screen and (max-width: 600px) {
    .glass {
        background-attachment: local; background-size: cover;
    }
}

/* Título do container centralizado */
#titleContainer {
    width: 100%; height: 100%;
    position: absolute; top: 0;

    background-color: rgba(120, 7, 7, .27);

    display: flex; align-items: center; justify-content: center;
}

body {
    background-image: linear-gradient(to bottom right, rgb(250, 250, 255), rgb(243, 243, 255));
}

#developers {
    width: min(80vw, 50rem); margin: auto;
    margin-top: 6rem; margin-bottom: 6rem;
    min-height: 100vh;

    border-radius: 2rem;

    background-color: rgba(120, 120, 120, .05);
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);

    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    #developers {
        width: 100%; margin: 0;
        margin-top: 4rem; margin-bottom: 4rem;
    }
}

.dev {
    padding: 0.4rem;
    padding-right: min(6rem, 15vw);
    margin: 12rem 0 1rem 12rem; margin-left: .4rem;
    box-shadow: 0 .4rem 0 0 rgb(120, 7, 7);
    float: right;
    
    display: flex; flex-direction: row;
    background: rgb(185, 16, 16); border-radius: 3rem 0 0 3rem;
}

@media only screen and (max-width: 600px) {
    .dev {
        padding-right: 0.4rem;
        padding: 0.2rem;

        margin-top: 4rem;
    }
}

h3 {
    padding: 1rem; padding-left: 1.6rem;
    margin-bottom: -0.2rem;

    color: white; font-style: normal;
    font-family: "Yanone Kaffeesatz"; font-size: 1.8rem;
}

.avatar{
    width: 8rem;
    height: 8rem;
    margin-top: -5.2rem;

    image-rendering: pixelated;
}

/*contacts*/
.contacts {
    float: right; 
    margin: 4rem; margin-top: 0;
    display: flex; flex-direction: row;
}
@media only screen and (max-width: 600px) {
    .contacts {
        margin: 0;
    }
    .contacts a {
        margin: 1.3rem;
    }
}

.contacts a {
    overflow: hidden;
    background-color: rgb(60, 60, 150);

    margin: .8rem;
    border: none;
    border-radius: 100%;
}

.contacts a img {
    width: 3rem; height: 3rem;
}

/* Footer*/
footer p {
    bottom: 0px;
    padding: 2rem;
    font-family: "Yanone Kaffeesatz"; font-size: 2rem;
    margin:auto;
    width: 70%; text-align: center;
}

.space{
    margin-bottom: 6rem;
}