#projects #calculadora {
    background: rgb(185, 16, 16) url(./project_images/calculadora.png) center center no-repeat;
    background-size: contain;
}

#projects #nlw04 {
    background: rgb(185, 16, 16) url(./project_images/rockeat.png) center center no-repeat;
}

#projects #comments {
    background: rgb(185, 16, 16) url(./project_images/comments.png) center center no-repeat;
}