*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #daf1ff;
    color: #475f6d;
}

.card{
    background: #475f6d;
    color: white;
    padding: 1.2rem; padding-left: 1.6rem; padding-bottom: 1.6rem;
    float: right;

    width: 80%;
    border-radius: .6rem 0 0 .6rem;

    display: flex;
}
.card:first-of-type{
    margin-top: -3rem;
}

.card h3{
    font-family: 'Yusei Magic', sans-serif;
    line-height: 2;
    font-size: 1.6rem;
}

.card p {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    font-size: 1.2rem;
    padding: 0.5rem;
}

h1{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2.4rem;
    padding: 3rem; padding-bottom: 7rem;

    background: white;
    box-shadow: inset 0 0 3rem .2rem #475f6d;
}

#madeline{
    float: right; padding: 0.2rem;
    height: 12rem; min-width: 12rem;
    width: 12rem; min-width: 12rem;
    image-rendering: pixelated;
}

.junior{
    background: orangered;
    padding: .2rem;
    border-radius: 4px;
}

.nutshell{
    background: darkblue;
    padding: .2rem;
    border-radius: 4px;
}

strong{
    background: #354f6d;
    padding: .2rem;
    border-radius: 4px;
}

